services:
  broker-1:
    image: apache/kafka:4.1.0
    ports:
      - "19092:19092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: INTERNAL://:9092,CONTROLLER://:9093,EXTERNAL://:19092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://broker-1:9092,EXTERNAL://localhost:19092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker-1:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_LOG4J_LOGGERS: kafka=WARN,kafka.controller=WARN,kafka.log.LogCleaner=WARN,state.change.logger=WARN,kafka.producer.async.DefaultEventHandler=WARN
      KAFKA_LOG4J_ROOT_LOGLEVEL: DEBUG
      KAFKA_LOG4J_TOOLS_LOGLEVEL: DEBUG

  broker-init:
    image: apache/kafka:4.1.0
    volumes:
      - ./local/kafka:/app
    command: ""
    entrypoint: "sh /app/init.sh"

  schema-registry:
    image: confluentinc/cp-schema-registry:8.1.0
    depends_on:
      - broker-1
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'broker-1:9092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081" ]
      interval: 2s
      timeout: 10s
      retries: 60

  init-schema-registry:
    image: curlimages/curl:8.16.0
    user: root
    depends_on:
      schema-registry:
        condition: service_healthy
    volumes:
      - ./local/schema-registry:/app
    command: /app/init.sh

  conduktor-console:
    image: conduktor/conduktor-console:1.26.0
    depends_on:
      - postgresql
      - broker-1
    ports:
      - "8080:8080"
    environment:
      CDK_ADMIN_EMAIL: "dev"
      CDK_ADMIN_PASSWORD: "dev"
      CDK_DATABASE_URL: "postgresql://conduktor:secret-password@postgresql:5432/conduktor-console"
      CDK_CLUSTERS_0_ID: "local-kafka"
      CDK_CLUSTERS_0_NAME: "local-kafka"
      CDK_CLUSTERS_0_BOOTSTRAPSERVERS: "broker-1:9092"
      CDK_CLUSTERS_0_COLOR: "#6A57C8"
      CDK_CLUSTERS_0_ICON: "kafka"
      CDK_CLUSTERS_0_SCHEMAREGISTRY_URL: http://schema-registry:8081

  postgresql:
    image: postgres:14
    environment:
      PGDATA: "/var/lib/postgresql/data"
      POSTGRES_DB: "conduktor-console"
      POSTGRES_USER: "conduktor"
      POSTGRES_PASSWORD: "secret-password"
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
